body {
				margin:0;
				background:#ffd966ff;
				font-family:"work sans";
			}
				
		.section {

		width:100vw;
		height:100vh;
		word-wrap: break-word;
		font: monospace;
		font-size: 50px;
		
		color:black;
		opacity:0;
		transition:opacity 0.5s;
	}

	.interior {
		position:fixed;
		top:0; left:0;
		width:100vw;
		height:100vh;
		display:flex;
		align-items: center;
		justify-content: center;

	}

	p { 
			max-width: 1000px;
			min-width: 1000px;
	 }