
			body{
				
				margin-top: 100px;
				margin-right: 25%;
				margin-left: 25%;
				text-align: left;
				font: monospace;
				font-size: 25px;

				background:#ffd966ff;color:black;margin-bottom:20px;
			}