
			body{
				
				margin-top: 100px;
				margin-right: 25%;
				margin-left: 25%;
				text-align: left;
				font: monospace;
				font-size: 25px;
<<<<<<< HEAD:Main.css
				background:rebeccapurple;color:white;margin-bottom:10px;
			}
=======
				background:indigo;color:white;margin-bottom:10px;
			}
>>>>>>> ede70138a12e519c9dbc767ef5d06f3ec1eee667:main.css
